<header>
  <%= render 'layouts/user_auth_navbar' %>
  <div class="container">
    <div class="introduction">
      <h1 class="catch-phrase">Just a bunch of college students building awesome shit</h1>
    .about-mobile {
      display: inline;
    }
      <%= link_to "JOIN THE MAILING LIST", "http://eepurl.com/GBJFv", class: "button" %>
    </div>
  </div>
</header>
