header
  .login_bar
    .container
      = link_to root_path
        h1.logo < \ /\ / > <span>COLLEGIATE WEB DEVELOPERS</span>
      .login
        - if current_user
          = link_to user_path(current_user)
            ' #{current_user.name}
            = image_tag_with_at2x("octocat.png", class: "octocat")
        - else
          = link_to "/auth/github"
            | SIGN IN WITH GITHUB
            = image_tag_with_at2x("octocat.png", class: "octocat")
  .container.title
    h1 CWDG::Projects
section.project_list
  - Project.all.each do |project|
    p = project.title
= render 'layouts/footer'
