.icon-clipboard {
  width: 18px;
}

.icon-join {
  width: 26px;
}

.icon-person {
  width: 28px;
}

.octocat {
  width: 23px;
  margin-left: 4px;
  margin-bottom: -6px;
  @include transition (all .4s ease-in-out);
  @include transform (rotate(0));
}
