.icon-about-us, .icon-calendar-mini, .icon-tutorials {
  position: relative;
  margin-right: 6px;
}

.icon-about-us {
  width: 23px;
  top: 4px;
}

.icon-calendar {
  width: 27px;
  float: left;
  position: relative;
  margin-right: 15px;
  top: 3px;
}

.icon-calendar-mini {
  top: 4px;
  width: 19px;
}

.icon-clipboard {
  width: 18px;
}

.icon-clock {
  position: relative;
  top: 4px;
  width: 21px;
  margin-right: 18px;
}

.icon-join {
  width: 26px;
}

.icon-person {
  width: 28px;
}

.icon-tutorials {
  width: 12px;
  top: 4px;
}

.octocat {
  width: 23px;
  margin-left: 4px;
  margin-bottom: -6px;
  @include transition (all .4s ease-in-out);
  @include transform (rotate(0));
}
