header {
  @include media($tablet) {
    padding-bottom: 46px;
    h1 {
      font-size: 34px;
    }
  }
}

.button {
  @include media($tablet) {
    margin-bottom: 0px;
  }

  @include media($mobile) {
    margin-bottom: 0px;
  }
}

.introduction {
  @include media($tablet) {
    @include span-columns(6);
    @include shift(1);
  }

  @include media($mobile) {
    @include span-columns(4);
    @include shift(0);
  }
}

.logo-container {
  @include media($tablet) {
    @include span-columns(5);
    span {
      display: none;
    }
  }

  @include media($mobile) {
    @include span-columns(2);
  }
}

.nav-item {
  @include media($tablet) {
    .about-large {
      display: none;
    }

    .about-mobile {
      display: inline;
    }
  }

  @include media($mobile) {
    .about-mobile {
      display: none;
    }

    a > span {
      display: none;
    }
  }
}

.user-auth-container {
  @include media($tablet) {
    @include span-columns(3);
  }

  @include media($mobile) {
    @include span-columns(2);
  }
}

.user-auth-navbar {
  @include media($tablet) {
    margin-bottom: 32px;
  }

  @include media($mobile) {
    margin-bottom: 20px;
  }
}
