// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sample {
  display: inline-block;
  vertical-align: top;
}

img.preview {
  box-shadow: 10px 10px 5px #888888;
  margin-left: 10px;
  margin-right: 10px;
}

.projectLabel {
  color: #333333;
  padding-top: 0px;
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

header.small {
  height: 250px;
}

div.subheader {
  text-align: center;
  line-height: 1.2;
  font-size: 20px;
  color: white;
  margin-bottom: 20px;
}

.projectViewer {
  text-align: center;
  height: 260px;
  margin:0;
  padding:0;
}

.arrowLeft {
  vertical-align: top;
  margin-top: 130px;
  margin-right: 15px;
  margin-left: 25px;
}

.arrowRight {
  vertical-align: top;
  margin-top: 130px;
  margin-left: 15px;
  margin-right: 25px;
}

.triggerL {
  vertical-align: top;
  display: inline-block;
  height: 280px;
  margin-top: -20px;
  background-color: white;
  border-left: 1px solid lightgray;
  //border-right: 1px solid dimgray;
}

.triggerR {
  vertical-align: top;
  display: inline-block;
  height: 280px;
  margin-top: -20px;
  background-color: white;
  //border-left: 1px solid dimgray;
  border-right: 1px solid lightgray;
}

.scroll {
  display: inline-block;
  max-width: 850px;
  height: 240px;
  overflow: hidden;
  white-space: nowrap;
}

.detailsContainer {
  margin: auto;
  width: 1000px;
  height: 325px;
}

.prDetailsLabel {
  width:450px;
  height:150px;
  margin: 25px;
  overflow: scroll;
}

.prLink {
  color: white;
  text-decoration: underline;
}
